 ### Feature Engineering
 A. Interaction among features (two way interaction) <br/>
 B. Dimentionality Reduction using PCA

In [4]:
# pip install more-itertools

In [8]:
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.datasets import load_iris
import seaborn as sns

In [9]:
data = load_iris()

In [10]:
df = pd.DataFrame(data=data.data, columns=data.feature_names)
df.head(10)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
6                4.6               3.4                1.4               0.3
7                5.0               3.4                1.5               0.2
8                4.4               2.9                1.4               0.2
9                4.9               3.1                1.5               0.1

In [5]:
from itertools import combinations
from sklearn.preprocessing import PolynomialFeatures

In [12]:
def add_iterations(df):
    combos = list(combinations(list(df.columns), 2))
    colnames = list(df.columns) + ['_'.join(x) for x in combos]

    poly = PolynomialFeatures(interaction_only=True, include_bias=False)
    df = poly.fit_transform(df)
    df = pd.DataFrame(df)
    df.columns = colnames

    noint_indicies = [i for i , x in enumerate(list((df==0).all())) if x]
    df = df.drop(df.columns[noint_indicies], axis = 1)

    return df

In [14]:
x = add_iterations(df)
x.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal length (cm)_sepal width (cm),sepal length (cm)_petal length (cm),sepal length (cm)_petal width (cm),sepal width (cm)_petal length (cm),sepal width (cm)_petal width (cm),petal length (cm)_petal width (cm)
0,5.1,3.5,1.4,0.2,17.85,7.14,1.02,4.90,0.70,0.28
1,4.9,3.0,1.4,0.2,14.70,6.86,0.98,4.20,0.60,0.28
2,4.7,3.2,1.3,0.2,15.04,6.11,0.94,4.16,0.64,0.26
3,4.6,3.1,1.5,0.2,14.26,6.90,0.92,4.65,0.62,0.30
4,5.0,3.6,1.4,0.2,18.00,7.00,1.00,5.04,0.72,0.28
5,5.4,3.9,1.7,0.4,21.06,9.18,2.16,6.63,1.56,0.68
6,4.6,3.4,1.4,0.3,15.64,6.44,1.38,4.76,1.02,0.42
7,5.0,3.4,1.5,0.2,17.00,7.50,1.00,5.10,0.68,0.30
8,4.4,2.9,1.4,0.2,12.76,6.16,0.88,4.06,0.58,0.28
9,4.9,3.1,1.5,0.1,15.19,7.35,0.49,4.65,0.31,0.15